* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: 'Roboto Slab', serif;
}

/* Navbar Section */

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    padding: 0 0.75rem;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;
}
#navbar ul li a:hover {
    background: #0e1111;
    color: #fff;
    border-radius: 5px;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#training {
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#training .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}    /*son 2 sinin ne ise yaradigini ogren */

#training .items .item {
    width: 33%;
    padding: 0.6rem;
    text-align: center;
}

#training .items .item:hover {
    color: orangered;
    opacity: 0.7;
}

/* Courses */


#courses {
    color: black;
    padding: 1rem;
}

.courses {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}   

.courses .course {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.courses .course .course-info:hover {
    color: orangered
}

.courses .course .course-image {
    margin-right: 0.5rem;
    position: relative;
}

.courses .course .course-image img {
    border-radius: 7px;
}

.courses .course .course-image span {
    background: red;
    padding: 0.25rem;
    color: #fff;
    position: absolute;
    border-radius: 5px;
    top: 10px;
    left: 0px;
} 

.courses .course .course-info .title {
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.courses .course .course-info .description {
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
}
.courses .course .course-info .instructor {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}
.courses .course .course-info .rating {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }

#contact {
    color: #fff;
    padding: 1rem;
}

#contact .contact-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
  }
#contact .contact-form ul li a {
    padding: 1rem;
    font-size: 2rem;
}
#contact .contact-form ul li a:hover {
    opacity: 0.8;
}

